.titulo {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin: 40px 0;

  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 15px rgba(0, 114, 255, 0.4);
}
